@charset "UTF-8";

/* Designing Web Accessibility */
body * {
text-align:left;
}
body > *:first-child {
margin-top:0;
}
header > *:first-child {
margin-top:0;
}
a {
text-decoration:underline;
}
h1, h2, h3, h4, h5, h6 {
margin-top:2em;
margin-bottom:1em;
padding:0;
font-weight:bold;
}
table {
padding:0;
border-collapse:collapse;
border-style:solid;
border-width:1px;
}
table caption {
font-weight:bold;
}
table th {
border-style:solid;
border-width:1px;
text-align:left;
padding:0.2em 0.4em;
}
table td {
border-style:solid;
border-width:1px;
padding:0.2em 0.4em;
}
/*
pre {
border-style:solid;
border-width:1px;
font-size:1em;
overflow: auto;
padding:0.6em 1em;
border-radius:0.3em;
margin-bottom:0.6em;
margin-left:auto;
margin-right:auto;
}
blockquote {
border-style:solid;
border-width:1px;
margin-left:auto;
margin-right:auto;
}
*/
.approach_border {
}
blockquote p {
padding:0.4em 0 0.4em 0.9em;
}
blockquote ul {
margin-left:0.6em;
margin-right:0;
}
figure {
margin-left:0;
margin-right:0;
margin-bottom:2em;
width:100%;
}
img {
width:100%;
}
figcaption {
width:100%;
font-size:1em;
line-height:1.5;
}
cite {
font-style:normal !important;
}
ol {
padding-left:2.4em;
}
ul {
padding-left:1.4em;
}
li {
margin-top:0.4em;
}
/* custom */
.titleNotice {
font-size:1em;
font-weight:normal;
}
.titleFrontmatter {
font-size:1.8em;
}
.titleFrontmatterSub {
font-size:1.4em;
}
.titleFrontmatterDev {
}
/* 章扉 */
.chapterIndex {
font-size:1.8em;
}
.chapterIndexToc {
list-style-type:none;
padding-left:0;
}
.chapterIndexToc ul {
list-style-type:disc;
}
/* コンテンツ内目次 */
.titleNav {
margin-top:0;
font-size:1.8em;
}
.listNav {
padding-left:0;
list-style-type:none;
}
.listNav ul {
padding-left:1.4em;
list-style-type:disc;
}
.listNav ul ul {
padding-left:1.2em;
}
/* 各章 概要と流れ */
.titleStep {
font-size:1.4em;
border-bottom:1px solid #000000;
}
.titleStepDetail {
font-size:1.2em;
}
/* 2〜9章ヘッダー */
.secCategory {
}
.titleMain {
margin-top:.6em;
font-size:1.8em;
line-height:1.4;
}
.secDescription {
margin-bottom:3em;
font-weight:bold;
page-break-after:always;
}
/* 第1章 */
#accidenceChapter .titleDescription {
font-size:1.4em;
}
#accidenceChapter .titleDetail {
font-size:1.2em;
}
/* 2〜9章問題 */
#secProblem {
margin-bottom:3em;
page-break-after:always;
}
#secProblem .titleProblem {
margin-top:0;
font-size:1.6em;
border-bottom-width:1px;
border-bottom-style:solid;
}
#secProblem .titleProblemComment {
font-size:1.2em;
}
#secProblem .titleDescription {
font-size:1.4em;
}
#secProblem .titleDetail {
font-size:1.2em;
}
#secProblem .titleSpecifics {
}
/* 2〜9章解決 */
#secApproach .titleApproach {
margin-top:0;
font-size:1.6em;
border-bottom-width:1px;
border-bottom-style:solid;
}
#secApproach .titleApproachComment {
font-size:1.2em;
}
#secApproach .titleDescription {
font-size:1.4em;
}
#secApproach .titleDetail {
font-size:1.2em;
}
#secApproach .titleSpecifics {
}
/* 2〜9章共通 */
.titleSpecifics {
margin-bottom:0;
font-size:1em;
}
.titleSpecifics + p {
margin-top:0;
}
.figtitle {
font-weight:bold;
}
.problem_border {
}
/* コラム */
.title-column {
font-size:1.2em;
}
/* 参考サイト */
.externalSite {
}
/* 引用サイト */
.referenceSite h2 {
margin-top:0.5em;
font-size:1.2em;
}
.referenceSite ol {
}
/* 索引 */
.listIndex {
padding-left:0;
list-style-type:none;
}
.listIndex ul {
padding-left:1.4em;
list-style-type:disc;
}
.indexTitle {
font-weight:bold;
}
/* 本文以降のコンテンツ */
.titleBackmatter {
font-size:1.8em;
}
.titleChapterToWcag,
.titleWcagToChapter {
font-size:1.6em;
}
.titleInfoCat,
.titleTableLevel,
.titleIndex {
font-size:1.4em;
}
.titleInfoRes,
.titleTableChap {
font-size:1.2em;
}
.tableListChapter,
.tableListWcag {
list-style-type:none;
padding-left:0;
}
.tableListChapter ul,
.tableListWcag ul {
list-style-type:disc;
padding-left:1.4em;
}
/* プロフィール */
.titleProfile {
font-size:1.6em;
}
.titleProfileCreator {
font-size:1.4em;
}
.titleProfileOhta,
.titleProfileIhara {
font-size:1.2em;
}
.titleProfileContributor {
font-size:1.2em;
}
/* 奥付 */
.titleBookMain {
font-size:1.6em;
margin-bottom:0;
}
.titleBookSub {
margin-top:0;
}
.revision {
list-style-type:none;
padding-left:0;
}
.credit dd {
margin-left:1em;
}

/* 追加 */
table th{
  font-weight: normal;
}
nav.toc h2{
margin-top: 0;
font-size:1.8em;
}
nav.toc ol{
margin:0;
padding:0;
}
nav.toc ol ol{
padding-left:1.4em;
list-style-type:disc;
}
blockquote {
border-style:solid;
border-width:0 0 0 2px;
margin-left:1em;
margin-right:auto;
}
.notice {
border-style:solid;
border-width:1px;
margin: 1em auto;
padding:0.4em 0.9em;
}
.notice dl dt{
font-weight: bold;
}
.notice dl dd{
margin-left: 0;
}
.appendix h4{
margin-bottom: 0;
}
.appendix h4 + p{
margin-top: 0;
}
code {
  padding: 0.2em;
  color: #000000;
  background-color: #f8f8f8;
  border-radius: 3px;
}
kbd {
  display: inline-block;
  padding: 3px 5px;
  color: #000000;
  vertical-align: baseline;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbbbbb;
}
/* syntax highlight */
pre,code,kbd {
  font-family: monospace,sans-serif;
}
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none;
}
pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
	border-radius: 3px;
	line-height: 1.5;
	padding:0.6em 1em;
  white-space: pre-wrap;
	overflow: auto;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0.6em;
}
code > span.kw { color: #007020; /*font-weight: bold;*/ } /* Keyword */
code > span.dt { color: #902000; } /* DataType */
code > span.dv { color: #40a070; } /* DecVal */
code > span.bn { color: #40a070; } /* BaseN */
code > span.fl { color: #40a070; } /* Float */
code > span.ch { color: #4070a0; } /* Char */
code > span.st { color: #4070a0; } /* String */
code > span.co { color: #60a0b0; font-style: italic; } /* Comment */
code > span.ot { color: #007020; } /* Other */
code > span.al { color: #ff0000; /*font-weight: bold;*/ } /* Alert */
code > span.fu { color: #06287e; } /* Function */
code > span.er { color: #ff0000; /*font-weight: bold;*/ } /* Error */
code > span.wa { color: #60a0b0; /*font-weight: bold;*/ font-style: italic; } /* Warning */
code > span.cn { color: #880000; } /* Constant */
code > span.sc { color: #4070a0; } /* SpecialChar */
code > span.vs { color: #4070a0; } /* VerbatimString */
code > span.ss { color: #bb6688; } /* SpecialString */
code > span.im { } /* Import */
code > span.va { color: #19177c; } /* Variable */
code > span.cf { color: #007020; /*font-weight: bold;*/ } /* ControlFlow */
code > span.op { color: #666666; } /* Operator */
code > span.bu { } /* BuiltIn */
code > span.ex { } /* Extension */
code > span.pp { color: #bc7a00; } /* Preprocessor */
code > span.at { color: #7d9029; } /* Attribute */
code > span.do { color: #ba2121; font-style: italic; } /* Documentation */
code > span.an { color: #60a0b0; /*font-weight: bold;*/ font-style: italic; } /* Annotation */
code > span.cv { color: #60a0b0; /*font-weight: bold;*/ font-style: italic; } /* CommentVar */
code > span.in { color: #60a0b0; /*font-weight: bold;*/ font-style: italic; } /* Information */
